/* .track-lyrics-mask {
  position: relative;
  
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
} */

.track-lyrics {
  position: absolute;
  right: calc(0.8em * 2 + 24px);
  top: 0.8em;
  text-align: right;
  /* opacity: 0.2; */
  user-select: none;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  max-width: 40%;
  word-wrap: break-word;

  transition:
    translate 0.2s ease-in-out,
    opacity 1s ease-in-out;
}

@media (max-width: 640px) {
  .track-lyrics {
    display: none; /* trollface */
  }
}

.track-lyric {
  opacity: 0.2;
  line-height: 1.2rem;

  text-transform: lowercase;
  font-style: italic;

  filter: blur(2px);

  transition:
    opacity 0.2s ease-in-out,
    font-size 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}

.track-lyric-playing {
  opacity: 1;
  line-height: 1.2rem;

  filter: blur(0px);
}

.track-lyric-around-playing {
  filter: blur(1px);
}

.track-lyrics[data-has-lyrics="true"] {
  opacity: 1;
}

.track-lyrics[data-has-lyrics="false"] {
  opacity: 0;
}
