#what-do-i-do h2 {
  margin-bottom: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  margin-bottom: 1rem;
}

@media (max-width: 640px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.projects-fallback {
  margin-bottom: 1rem;
  font-size: 0.9em;
}
