#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  gap: 1.5em;

  display: flex;
  flex-direction: column;

  /* margin-top: 16px; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  gap: 3em;
}

.container-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(5, minmax(100px, 1fr));
  grid-gap: 2em;

  grid-template-areas:
    'telegram   telegram    spotify     spotify'
    'telegram   telegram    github      github'
    'shitpost   shitpost    github      github'
    'vk         soundcloud  music       music'
    'lastfm     photos      photos      photos'
  ;
}

.item {
  position: relative;

  color: white;

  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.item-telegram {
  grid-area: telegram;
}
.item-github {
  grid-area: github;
}
.item-vk {
  grid-area: vk;
}
.item-shitpost {
  grid-area: shitpost;
}
.item-spotify {
  grid-area: spotify;
}
.item-soundcloud {
  grid-area: soundcloud;
}
.item-lastfm {
  grid-area: lastfm;
}
.item-photos {
  grid-area: photos;
}
.item-music {
  grid-area: music;
}

.item:hover .item-image {
  filter: blur(4px);
  transform: scale(1.05);
}

.item-image {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 24px;

  background-size: cover;
  background-position: center;

  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.4;
  z-index: 1;

  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.item-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.item-icon svg,
.item-icon-centered svg {
  width: 2rem;
  height: 2rem;
}

.item-icon-centered {
  position: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.item-text {
  position: absolute;
  bottom: 10px;
  right: 12px;
  z-index: 2;

  display: flex;
  flex-direction: column;

  text-align: right;
}

.item-text-description {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
}

.item-icon, .item-text {
  transition: transform 0.3s ease;
}

.item:hover .item-icon {
  transform: translate(20%, 20%) scale(1.2);
}

.item:hover .item-text {
  transform: translate(-20%, -20%) scale(1.2);
}

.text-small {
  font-size: 0.8em;
}
