

@font-face {
  font-family: 'Cascadia Code';
  src: url("https://starkow.dev/CascadiaCode.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url("https://starkow.dev/CascadiaCodeItalic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  display: block;
}

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
}
